/* css reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*utils*/
.container{
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid black;
   
}
.main-header{
    min-height: 100px;
    background-color:lightblue;
    display: flex;
    justify-content: center;
}
.second-header-left,.second-header-right{
    width: 200px;
   min-height: 50px;
    background-color: orange;
    border: 1px solid black;
    align-self:center;
}
.second-header-middle{
    width: 400px;
    min-height: 50px;
    background-color: orange;
    border: 1px solid black;
    align-self:center;
}

.principal{
    min-height: 400px;
    background-color: darkblue;
    display: flex;
    justify-content:center;

}
.principal-inside{
    width: 600px;
    min-height: 300px;
    background-color: palevioletred;
    align-self: center;
}
.secondary{
     min-height: 400px;
    background-color: white;
    display: flex;
    justify-content:center;
}
.blu-square{
    width: 600px;
    min-height: 300px;
    background-color: dodgerblue;
    align-self: center;
}
.pink-square{
    width: 400px;
    min-height: 300px;
    background-color: pink;
    align-self: center;
}
.gray-bkg{
    min-height: 400px;
    background-color: gray;
    display: flex;
    justify-content:center;
}
.green-square{
     width: 1000px;
    min-height: 1000px;
    background-color: green;
   margin: 40px 0;
}
.black-bkg{
     min-height: 400px;
    background-color: black;
    display: flex;
    justify-content:center; 
}
.rettangolo-rosa{
    width: 400px;
    min-height: 500px;
    background-color: pink;
    margin: 40px 0;
}
.rettangolo-verde{
width: 150px;
min-height: 500px;
background-color: aquamarine;
border: 1px dashed black;
margin: 40px 0;
}
.last-bkg{
    min-height: 100px;
    background-color:black;
    display: flex;
    justify-content: center;
    border: 1px dashed white;
}
.footer-bkg{
    width: 1000px;
    min-height: 75px;
    background-color: aquamarine;
   align-self:flex-end;
  
}